<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Dish'd</title>
    <link rel="stylesheet" href="/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
    <script src="/slick-carousel/slick/slick.min.js"></script>
    <script src="/angular-slick-carousel/dist/angular-slick.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Dishd">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <footer></footer>
</body>
</html>
