<md-content flex>
    <nav layout="row" class="navcontainer">
        <a ui-sref="home">
            <dishd-logo></dishd-logo>
        </a>
        <div ng-if="header">
            <h3>{{ header }}</h3>
        </div>
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                <ng-md-icon icon="dehaze"></ng-md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <md-button ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</md-button>

                </md-menu-item>
                <md-button ng-show="user" ng-click="logout()">Logout</md-button>
                <md-button class="loginbtn" ng-show="!user" ui-sref="login">Login</md-button>
            </md-menu-content>
        </md-menu>
    </nav>
</md-content>

