#logo {
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    navbar {
        h1{
        color: white;
        }
        ng-md-icon {
            fill: white;
        }
    }
}

vid-bg video{
    object-fit: cover !important;
    width: 100vw !important;
    height: 100vh !important;
}
