#logo {
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    navbar {
<<<<<<< HEAD
        position: fixed;
        top: 0;
        z-index: 100;
=======
>>>>>>> master
        h1 {
            color: white;
        }
        ng-md-icon {
            fill: white;
        }
    }
    .mainpage {
        color: white;
        .md-button {
            border: 1px dotted white;
        }
        span {
            font-size: 20px;
        }
        .link {
            color: #FDFDFD;
            cursor: pointer;
<<<<<<< HEAD
            border-bottom: $theme-border;
=======
            border-bottom: 1px dotted #9a9a9a;
>>>>>>> master
            font-size: 16px;
        }
    }
}

vid-bg video {
    object-fit: cover !important;
    width: 100vw !important;
    height: 100vh !important;
}
