#prefspage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    .chosen {
        background-color: $theme-yellow !important;
    }
    .dietary {
        flex-wrap: wrap;
        justify-content: center;
        .md-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .delete {
        min-height: 10px !important;
        min-width: 10px !important;
        .material-icons {
            display: flex;
        }
    }
    .delete:hover {
        opacity: 0.8;
    }
    .save {
        background-color: $theme-yellow;
    }
    .dislikes {
        justify-content: center;
        align-items: center;
    }
    #dislikes {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
    }
}
