#prefspage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    // height: 85vh;
	.chosen {
		background-color: $theme-yellow !important;
	}
    .dietary .md-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .delete {
        min-height: 10px !important;
        min-width: 10px !important;
        .material-icons {
            display: flex;
        }
    }
	.delete:hover {
		opacity: 0.8;
	}
    .save {
        background-color: $theme-yellow;
    }
}
