#myacct {
    .container {
        display: flex;
        height: 75vh;
        width: 100vw;
    }
    .item {
        box-sizing: border-box;
        padding: 20px;
        flex: 1;
        text-align: center;
        .spending {
            display: flex;
            flex-direction: column;
            align-items: center;
            #spendingVis {
                padding-top: 55px;
            }
        }
    }
    .item:nth-child(2) {
        flex: 1;
    }
    @media screen and (max-width:990px) {
        .container {
            flex-wrap: wrap;
        }
        .item:first-child {
            flex-basis: 100%;
        }
    }
.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source,
.link--target {
  stroke: #FEE778;
}
}

