navbar {
    display: flex;
    .navcontainer {
        width: 100vw;
        height: 15vh;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
}

