navbar {
    height: 10vh;
    md-content {
        background-color: transparent !important;
    }
    display: flex;
    .navcontainer {
        width: 100vw;
        height: 10vh;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
}

