<md-content flex>
<navbar></navbar>
    <div id="meals">
    <div class="heading" flex layout="row">
        <h1>Dish'ng Up This Week</h1>
        </div>
        <section class="mealsMain" layout="row" flex>
            <md-button class="md-fab" aria-label="Previous" ng-click="slickConfig.method.slickPrev()">
                <ng-md-icon class="btn" icon="navigate_before" size="40px"></ng-md-icon></md-button>
                    <div class="slick-container">
                        <slick settings="slickConfig" slides-to-scroll=1 ng-if="mealsLoaded">
                            <div ng-repeat="meal in meals">
                                <md-card>
                                    <md-card-content layout="row" layout-align="space-between">
                                        <div class="md-media-xl card-media" style="background: url({{meal.image}}) center; background-size: cover; background-position: center; ">
                                        </div>
                                        <div class="recipe" layout="column">
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{meal.title}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-actions layout="row">
                                                <md-button class="md-icon-button" aria-label="add to my meals" ng-click="selectMeal(meal)">
                                                    <ng-md-icon icon="add"></ng-md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" aria-label="Recipe" ng-href="{{meal.sourceUrl}}" target="_blank">
                                                    <i class="material-icons">room_service</i>
                                                </md-button>
                                            </md-card-actions>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </slick>
                    </div>
                    <md-button class="md-fab" aria-label="Next" ng-click="slickConfig.method.slickNext()"><ng-md-icon class="btn" icon="navigate_next" size="40px"></ng-md-icon></md-button>
                    <section class="meals" flex>
                    <div><h3>My Meals</h3></div>
                    <div>
                    <ul ng-repeat="selectedMeal in selectedMeals">
                        <li>{{ selectedMeal.title }}
                            <md-button class="md-icon-button md-mini" ng-click="removeMeal(selectedMeal.id)" aria-label="Remove Recipe">
                                <ng-md-icon icon="backspace"></ng-md-icon>
                            </md-button>
                        </li>
                    </ul>
                    </div>
                    <section>
            <md-button flex layout="row" ng-show="selectedMeals.length" ng-click="addGroceries()"><div>ADD GROCERIES</div><i class="material-icons s" >shopping_basket</i></md-button>
        </section>
                    </section>
        </section>
        <!-- <section>
            <md-button flex layout="row" ui-sref="groceries"><div>SAVE MEALS</div><i class="material-icons s">shopping_basket</i></md-button>
        </section> -->

    </div>
</md-content>
