<md-content flex>
    <navbar class="nav" header="My Meals"></navbar>
    <div id="meals">
        <!--choosing meals view -->
        <div class="progress" ng-if="!mealsLoaded">
            <md-progress-circular md-diameter="100px"></md-progress-circular>
        </div>
        <section ng-if="showSlider && mealsLoaded" layout-gt-xs="row" layout-xs="column" flex>
            <md-button ng-if="!smallScreen" id="refresh" class="md-icon-button" aria-label="Recipe" ng-click="refreshMeals()">
                <md-tooltip>See Different Meals</md-tooltip>
                <ng-md-icon icon="refresh" size="40"></ng-md-icon>
            </md-button>
            <section layout-gt-xs="column" layout-xs="row" class="mealsMain" layout-wrap>
                <md-button ng-if="!smallScreen" class="md-icon-button dir" aria-label="Previous" ng-click="slickConfig.method.slickPrev()">
                    <ng-md-icon icon="navigate_before" size="60px"></ng-md-icon>
                </md-button>
                <div class="slick-container">
                    <slick settings="slickConfig" ng-if="mealsLoaded">
                        <div ng-repeat="meal in meals">
                            <meal-card></meal-card>
                            <md-button ng-if="smallScreen" id="refresh" class="md-icon-button" aria-label="Recipe" ng-click="refreshMeals()">
                                <md-tooltip>See Different Meals</md-tooltip>
                                <ng-md-icon icon="refresh" size="40"></ng-md-icon>
                            </md-button>
                        </div>
                    </slick>
                </div>
                <md-button ng-if="!smallScreen" class="md-icon-button dir" aria-label="Next" ng-click="slickConfig.method.slickNext()">
                    <ng-md-icon icon="navigate_next" size="60px"></ng-md-icon>
                </md-button>
            </section>
            <section layout-gt-xs="column" layout-xs="row" class="meals">
                <div class="meals-header">
                    <h3>Choose up to 5 meals:</h3></div>
                <div>
                    <md-list flex ng-repeat="selectedMeal in selectedMeals">
                        <md-list-item>
                            <img ng-src="{{ selectedMeal.image }}" class="md-avatar">
                            <p>{{ selectedMeal.title | limitTo : 15}}{{ selectedMeal.title.length > 15 ? '...' : ''}}</p>
                            <md-button class="md-icon-button md-mini md-secondary" ng-click="removeMeal(selectedMeal.id)" aria-label="Remove Recipe">
                                <md-tooltip>Remove Recipe</md-tooltip>
                                <i class="material-icons">close</i>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
                <section>
                    <md-button flex class="grocery-btn md-raised" layout="row" ng-show="selectedMeals.length" ng-click="addGroceries()">
                        <div>ADD GROCERIES</div>
                    </md-button>
                </section>
            </section>
        </section>
        <!-- view chosen meals view -->
        <section ng-if="!showSlider && mealsLoaded">
            <div layout="row" class="title">
                <h2>
                    <md-button class="md-icon-button" aria-label="Recipe" ng-click="refreshMeals()">
                        <md-tooltip>See Different Meals</md-tooltip>
                        <ng-md-icon icon="refresh"></ng-md-icon>
                    </md-button>
                    Currently Selected Meals
                </h2>
            </div>
            <div ng-repeat="meal in meals" layout="row" class="meal-list">
                <meal-card></meal-card>
            </div>
        </section>
    </div>
</md-content>