<md-content flex>
    <div id="meals">
        <h1>Your Personalized Menu</h1>
        <section layout="row">
            <!-- these buttons need to dynamically ng-repeat and give correct days a person plans to cook for the week -->
            <div class="days">
                <md-button class="md-fab">today</md-button>
                <md-button class="md-fab">fri</md-button>
                <md-button class="md-fab">sat</md-button>
                <md-button class="md-fab">sun</md-button>
                <md-button class="md-fab">mon</md-button>
                <md-button class="md-fab">tues</md-button>
                <md-button class="md-fab">wed</md-button>
            </div>
        </section>
        <section class="mealsMain" layout="row" flex>
            <md-button class="md-fab" ng-click="slickConfig.method.slickPrev()">
                <ng-md-icon class="sliderbtn" icon="navigate_before" size="40px"></ng-md-icon></md-button>
                    <div class="slick-container">
                        <slick settings="slickConfig" slides-to-scroll=1 ng-if="mealsLoaded">
                            <div ng-repeat="meal in meals">
                                <md-card>
                                    <md-card-content layout="row" layout-align="space-between">
                                        <div class="md-media-xl card-media" style="background: url({{meal.image}}) center; background-size: cover; background-position: center; ">
                                        </div>
                                        <div class="recipe" layout="column">
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{meal.title}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-actions layout="row">
                                                <md-button class="md-icon-button" aria-label="Favorite">
                                                    <ng-md-icon icon="favorite"></ng-md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" aria-label="Settings">
                                                    <ng-md-icon icon="shopping_basket"></ng-md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" aria-label="Share">
                                                    <ng-md-icon icon="dehaze"></ng-md-icon>
                                                </md-button>
                                            </md-card-actions>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </slick>
                    </div>
                    <md-button class="md-fab" ng-click="slickConfig.method.slickNext()"><ng-md-icon class="sliderbtn" icon="navigate_next" size="40px"></ng-md-icon></md-button>
        </section>
        <section>
            <md-button>SAVE MEAL PLAN</md-button>
        </section>
    </div>
</md-content>
