<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <div type="danger" ng-show="error">
        {{ error }}
    </div>

    <div>
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" id="email" placeholder="Enter email">
    </div>
    <div>
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" id="login-password" placeholder="Password">
    </div>
    <button type="submit">Submit</button>
</form>
<!--irrelevant-->
