@mixin form-page {
    align-items: center;
    a {
      border-bottom: $theme-border;
    }
}

@mixin form-body{
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 60vw;
      div{
        display: flex;
        justify-content: center;
      }
}

#login-page{
  @include form-page;
  padding-top: 30vh;
  .oauth {
    align-items: center;
    a {
      border-bottom: none;
      padding: 5px;
    }
    #signup {
      border-bottom: $theme-border;
    }
  }
}

#login-form{
  @include form-body;
}

