@mixin form-page {
    background-color: #FAFAFA;
    align-items: center;
}

@mixin form-body{
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 60vw;
      div{
        display: flex;
        justify-content: center;
      }
}

#login-page{
  @include form-page;
}

#login-form{
  @include form-body;
}


/*ng-md-icon{
  align-self: center;
  vertical-align: center;
}*/

.md-fab {
  font-size: 2.8rem;
  display: block;
}

ng-md-icon {
  width : 2.8rem;
  height: 2.8rem;
}
