md-dialog {
    md-toolbar {
        background-color: $theme-yellow !important;
    }
    md-card {
        md-card-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .md-media-xl {
                @media all and (max-width: 750px){
                    width: 70vw;
                }
                height: 60vh;
                width: 25vw;
            }
            .recipe {
                @media all and (max-width: 750px){
                    width: 70vw !important;
                }
                width: 30vw;
            }
            .ings {
                @media all and (max-width: 750px){
                    width: 70vw;
                }
                width: 20vw;
            }
        }
        md-card-actions {
            justify-content: flex-start;
        }
    }
}
