#history {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding-top: 10vh;
    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        .md-button {
            width: 85vw;
            justify-content: center;
            background-color: #FEE778;
        }
    }
    .meals {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 2vw;
        width: 30vw;
        height: 70vh;
        .md-list-item {
            .md-button {
                display: flex;
                align-self: flex-end;
            }
        }
     }
    // md-card {
    //     md-card-content .md-media-xl {
    //         height: 50vh;
    //         width: 40vw;
    //     }
    //     md-card-actions {
    //         justify-content: flex-end;
    //         // background-color: $theme-yellow;
    //         margin-left: 7vw;
    //         // border: $theme-border;
    //         border-radius: 2px;
    //     }
    //     .recipe {
    //         width: 18vw !important
    //     }
    // }
    .s {
        padding-left: 5px;
    }

    h3 {
        background-color: $theme-yellow;
    }
}

