#aboutpage {
    #about {
        z-index: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 90vh;
        navbar {
            position: fixed;
            top: 0;
            z-index: 100;
            h1 {
                color: white;
            }
            ng-md-icon {
                fill: white;
            }
        }
        .abouttext {
            display: flex;
            background-image: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            height: 60vh;
            width: 70vw;
            .md-button {
                border: 1px dotted white;
            }
            span {
                font-size: 20px;
            }
            .link {
                color: #FDFDFD;
                cursor: pointer;
                border-bottom: $theme-border;
                font-size: 16px;
            }
        }
    }
    #mobile {
        position: fixed;
        #aboutpic {
            background: url('js/about/media/cherries.png') no-repeat center;
            background-size: cover;
            object-fit: cover !important;
            width: 100vw;
            height: 150vh;
            z-index: 10;
        }
    }
}
