md-card{
  md-card-content .md-media-xl {
      height: 50vh;
      width: 40vw;
  }
  md-card-actions {
    background-color: $theme-yellow;
    @media all and (min-width: 600px) {
        margin-left: 2vw;
    }
    @media all and (max-width: 599px) {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    border: $theme-border;
    border-radius: 2px;
  }
  .recipe {
      width: 18vw !important
  }
}
