* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#main {
  display: flex;
  height: 85vh;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'user-prefs/main';
@import 'meals/main';
