* {
    box-sizing: border-box;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#main {
    display: flex;
    height: 100vh;
    md-content {
        background-color: #F7F7F7;
        .nav {
            background-color: #F7F7F7;
            position: fixed;
            top: 0;
            z-index: 100;
            border-bottom: 1px dotted grey;
        }
    }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'user-prefs/main';
@import 'meals/main';
@import 'my-account/my-account';
@import 'groceries/groceries';
@import 'recipe/recipe.scss';
@import 'favorites/main.scss';
@import 'history/history.scss';
