* {
<<<<<<< HEAD
    box-sizing: border-box;
=======
  box-sizing: border-box;
>>>>>>> master
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

$theme-yellow: #FEE778;
$theme-border: 1px dotted #9a9a9a;

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#main {
<<<<<<< HEAD
    display: flex;
    height: 100vh;
    md-content {
        background-color: #F7F7F7;
        .nav {
            background-color: #F7F7F7;
            position: fixed;
            top: 0;
            z-index: 100;
            border-bottom: 1px dotted grey;
        }
    }
=======
  display: flex;
  height: 100vh;
  md-content {
    background-color: #F7F7F7;
    // button .rectangle {
    //   background-color: #FEE778
    // }
  }
>>>>>>> master
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'user-prefs/main';
@import 'meals/main';
@import 'my-account/my-account';
@import 'groceries/groceries';
@import 'recipe/recipe.scss';
<<<<<<< HEAD
@import 'favorites/main.scss';
@import 'history/history.scss';
@import 'card/card.scss';
=======
>>>>>>> master
