@mixin form-page {
    align-items: center;
    a {
        border-bottom: $theme-border;
    }
}

@mixin form-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60vw;
    div {
        display: flex;
        justify-content: center;
    }
}

#signup-page {
    @include form-page;
    padding-top: 20vh;
}

#signup-form {
    @include form-body;
    a {
      border-bottom: none;
      padding: 5px;
    }
}
