<md-content flex>
    <div id="prefspage">
        <div class="dietary">
            <h3>Any dietary preferences?</h3>
            <md-button>Vegetarian</md-button>
            <md-button>Gluten Free</md-button>
            <md-button>Dairy Free</md-button>
            <md-button>Vegan</md-button>
        </div>
        <div class="dislikes">
        <h3>Any allergies or strong dislikes?</h3>
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display" placeholder="dislikes">
                <md-item-template>
                    <span md-highlight-text="searchText">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
        </div>
        <div class="num">
            <h3>How many people are eating?</h3>
            <md-slider flex class="md-primary" md-discrete ng-model="numpeople" step="1" min="1" max="6" aria-label="rating">
      </md-slider>
        </div>
        <div class="time">
            <h3>How much time do you have?</h3>
        <md-slider flex class="md-primary" md-discrete ng-model="cooktime" step="5" min="10" max="60" aria-label="rating">
      </md-slider>
</md-slider>
</div>
    </div>
</md-content>
