<md-content flex>
<navbar></navbar>
    <div id="prefspage">
        <h3>Any dietary preferences?</h3>
        <div class="dietary" layout="row">

            <!-- stay highlighted when true -->
            <md-button ng-click="myPrefs.vegetarian = !myPrefs.vegetarian" ng-class="{ chosen: myPrefs.vegetarian }"><img src="js/user-prefs/media/vegetarian.png" >Vegetarian</md-button>
            <md-button ng-click="myPrefs.glutenFree = !myPrefs.glutenFree" ng-class="{ chosen: myPrefs.glutenFree }"><img src="js/user-prefs/media/gluten_free.png" >Gluten-Free</md-button>
            <md-button ng-click="myPrefs.vegan = !myPrefs.vegan" ng-class="{ chosen: myPrefs.vegan }"><img src="js/user-prefs/media/vegan.png" >Vegan</md-button>
            <md-button ng-click="myPrefs.dairyFree = !myPrefs.dairyFree" ng-class="{ chosen: myPrefs.dairyFree }"><img src="js/user-prefs/media/dairy_free.png" >Dairy-Free</md-button>
            <md-button ng-click="myPrefs.whole30 = !myPrefs.whole30" ng-class="{ chosen: myPrefs.whole30 }"><img src="js/user-prefs/media/paleo.png" >Paleo</md-button>
        </div>
        <div class="dislikes">
            <h3>Any allergies or strong dislikes?</h3>
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="ing in queryFilter(searchText) | orderBy: 'name'"
                md-item-text="ing.name"
                placeholder="dislikes"
                md-selected-item-change="addDislikes(selectedItem)">
                <md-item-template>
                    <span md-highlight-text="searchText">{{ing.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
            <section id="dislike" layout="row">
                <div ng-show="myPrefs.dislikes.length" ng-repeat="ing in myPrefs.dislikes">
                    <md-button>{{ing.name}}<md-button ng-click="removeDislike(ing)" class="delete"><i class="material-icons">close</i></md-button></md-button>
                </div>
            </section>
        </div>
        <div class="num">
            <h3>How many people are eating?</h3>
            <md-slider flex class="md-primary" md-discrete ng-model="myPrefs.numPeople" step="1" min="1" max="6" aria-label="rating">
            </md-slider>
        </div>
        <div class="time">
            <h3>How much time do you have? (mins)</h3>
            <md-slider flex class="md-primary" md-discrete ng-model="myPrefs.availableTime" step="5" min="10" max="60" aria-label="rating">
            </md-slider>
        </div>
        <div>
            <md-button class="save" ng-click="savePrefs()">SAVE PREFERENCES</md-button>
        </div>
    </div>
</md-content>
