<md-content flex>
    <navbar class="nav" header="Grocery List"></navbar>
    <div id="groceries" layout="row">
        <p ng-if="!showList"><a ui-sref="meals">Add some meals</a> to your grocery list to see your personalized shopping list here!</p>
        <section class="grocery-list" ng-if="showList">
            <md-button class="md-icon-button" ng-click="makePDF(sections)">
                <md-tooltip md-direction="right">Download this list as a PDF</md-tooltip>
                <ng-md-icon icon="file_download"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="showCostForm()">
                <md-tooltip md-direction="right">Input grocery Cost</md-tooltip>
                <ng-md-icon icon="attach_money"></ng-md-icon>
            </md-button>
            <div ng-repeat="section in headers | orderBy : section">
                <h3> {{ section }} </h3>
                <md-list-item ng-repeat="item in sections[section] | orderBy: 'name'">
                    <p><strong>{{item.name}}</strong> || {{round(item.amount)}} {{item.unitLong}} </p>
                    <md-checkbox class="md-secondary" ng-model="item.wanted"></md-checkbox>
                </md-list-item>
            </div>
        </section>
    </div>
</md-content>