#meals {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    .mealsMain {
        display: flex;
        align-items: center;
        flex-driection: row;
        justify-content: center;
        height: 75vh;
        .btn {
            display: flex;
            align-self: center;
            fill: white;
        }
    }
    .slick-container {
        width: 50vw;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .meals {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 2vw;
        width: 28vw;
        height: 55vh;
        .md-list-item{
            .md-button {
                display: flex;
                align-self: flex-end;
            }
        }
    }
    md-card {
        md-card-content .md-media-xl {
            height: 50vh;
            width: 40vw;
        }
        md-card-actions {
            justify-content: flex-end;
        }
        .recipe {
            width: 18vw !important
        }
    }
    .s {
        padding-left: 5px;
    }
}
