#meals {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 85vh;
    .mealsMain {
        display: flex;
        align-items: center;
        flex-driection: row;
        justify-content: center;
        height: 100vh;
        .sliderbtn {
            display: flex;
            align-self: center;
            color: white;
            fill: white;
        }
    }
    .slick-container {
        width: 60vw;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .days {
        align-items: center;
        justify-content: center;
    }
    md-card {
        md-card-content .md-media-xl {
            height: 50vh;
            width: 40vw;
        }
        .recipe {
            width: 18vw !important
        }
    }
}
