#meals {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding-top: 10vh;
    #refresh{
        position: absolute;
        margin-left: 65vw;
        margin-top: 2vh;
        width: 60px;
        border: $theme-border;
        height: 60px;
    }
    .progress{
        padding-top: 30vh;
        color: $theme-yellow;
    }
    .meal-list {
        md-card-actions{
            background-color: $theme-yellow;
            margin-left: 7vw;
            border: $theme-border;
            border-radius: 2px;
        }
    }
    .title {
        justify-content: center;
    }
    .mealsMain {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 15vh;
        justify-content: center;
        width: 70vw;
        height: 70vh;
        md-card-actions{
            background-color: $theme-yellow;
            margin-left: 2vw;
            border: $theme-border;
            border-radius: 2px;
        }
        .btn {
            display: flex;
            align-self: center;
        }
        .dir {
            display: flex;
            justify-content: center;
            height: 60px;
            width: 60px;
            ng-md-icon {
                margin-top: -7px;
            }
        }
    }
    .slick-container {
        width: 50vw;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .meals {
        // background-color: #E8E8E8;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 2vw;
        border-left: $theme-border;
        width: 30vw;
        height: 110vh;
        .grocery-btn{
            background-color: $theme-yellow;
        }
        .meals-header {
            margin-top: 2vh;
            border-bottom: $theme-border;
        }
        md-list-item {
            width: 100%;
            border-bottom: $theme-border;
            .md-button {
                display: flex;
                align-self: flex-end;
            }
        }
        md-list-item:first{
            border-top: $theme-border;
        }
    }
    md-card {
        md-card-content .md-media-xl {
            height: 50vh;
            width: 40vw;
        }
        md-card-actions {
            justify-content: flex-end;
        }
        .recipe {
            width: 18vw !important
        }
    }
    .s {
        padding-left: 5px;
    }
}
