#groceries {
    display: flex;
    justify-content: center;
    width: 100vw;
    //height: 85vh;
    .groceries {
        width: 60vw;
        background-color: white;
        padding: 15px;
        h4{
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        div{
          h3{
            background-color: #FEE778;
            text-align: center;
            padding: 5px;
          }
        }
    }
}
